.source.php {
  .storage.class {
      color: @purple;
  }
  .support.class {
      color: @blue;
  }
  .entity.namespace {
      color: @yellow;
  }
  .entity.name.class {
      color: lighten(@orange, 5%);
  }
}
