.syntax--source.syntax--php {
  .syntax--storage.syntax--class {
      color: @purple;
  }
  .syntax--support.syntax--class {
      color: @blue;
  }
  .syntax--entity.syntax--namespace {
      color: @yellow;
  }
  .syntax--entity.syntax--name.syntax--class {
      color: lighten(@orange, 5%);
  }
}
.syntax--keyword.syntax--other.syntax--new.syntax--php {
    color: lighten(@orange, 5%);
}
