// Zen Chipmunk Syntax: Base
// ---------------------------------------------

.syntax--comment {
  color: @main-dark;
  font-style: italic;
}

.syntax--entity {
  &.syntax--name.syntax--type {
    color: @purple;
    // text-decoration: underline;
  }

  &.syntax--other.syntax--inherited-class {
    color: @green;
  }
}

.syntax--keyword {
  color: @blue;

  &.syntax--control {
    color: @blue;
  }

  &.syntax--operator {
    color: @syntax-text-color;
  }

  &.syntax--other.syntax--special-method {
    color: @blue;
  }

  &.syntax--other.syntax--unit {
    color: @cyan;
  }
}

.syntax--storage {
  color: @purple;
}

.syntax--constant {
  color: @main-light;

  &.syntax--character.syntax--escape {
    color: @cyan;
  }

  &.syntax--numeric {
    color: @cyan;
  }

  &.syntax--other.syntax--color {
    color: @cyan;
  }

  &.syntax--other.syntax--symbol {
    color: @green;
  }
}

.syntax--variable {
  color: @green;

  &.syntax--interpolation {
    color: darken(@blue, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text-color;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @blue;
  color: @syntax-background-color;
}

.syntax--string {
  color: @yellow;

  &.syntax--quoted {
    font-style: italic;
  }
  &.syntax--regexp {
    color: @cyan;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @purple;
    }
  }

  &.syntax--other.syntax--link {
    color: @blue;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @main-dark;
      font-style: italic;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @purple;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: darken(@blue, 10%);
  }

}

.syntax--support {
  &.syntax--class {
    color: @purple;
  }

  &.syntax--function  {
    color: @cyan;

    &.syntax--any-method {
      color: @blue;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @blue;
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @purple;
  }

  &.syntax--name.syntax--section {
    color: @blue;
  }

  &.syntax--name.syntax--tag {
    color: @blue;
    // text-decoration: underline;
  }

  &.syntax--other.syntax--attribute-name {
    color: @purple;

    &.id {
      color: @blue;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @purple;
  }

  &.syntax--link {
    color: @purple;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @main-mid;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @purple;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @blue;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @blue;
  }

  &.syntax--quote {
    color: @purple;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view,
atom-text-editor .scroll-view {
  padding-left: 1px;
}
